<div class="container">
  <div class="jumbotron">
    <h1>Ronins Cloud</h1>
    <h2>High Competence</h2>
    <p>
      Datacenter building and operating experience. Certified specialists in all the represented directions.
      All the company founders and vast majority of our employees are qualified IT professionals.
    </p>
    <hr />
    <h2>Quality, reiability and efficiency</h2>
    <p>Our infrastructure is implemented on High End equipment from the best manufacturers in the industry.</p>
    <p>Our equipment is hosted in the best data centers with a safety category not lower than TIER III.</p>
    <p>We offer fault-torelant solutions distributed among the data centers network with the ability of hosting infrastructure in Europe.</p>
    <hr />
    <h2>Security</h2>
    <p>Today your data is your most critical asset. </p>
    <p>We are dedicated to protecting your personal data against unauthorized usage and we are fully compliant with all European data protection laws - which are amongst the strictest in the world.</p>
    <hr />
  </div>
</div>
