<div class="body">
  <div class="header">
    <h1>Gallery</h1>
  </div>
  <div class="container gallery-container">
    <div class="aligncenter" *ngIf="!anonymus">
      <label class="fileContainer">
        Click here to select files to upload!
        <input type="file" id="imgInput" (change)="onImgInputChange($event)" class="input" multiple />
      </label>
      <br />
      <button (click)="upload()" class="btn btn-default">Upload</button>
      <div class="file-cache-container" *ngIf="fileCache.length !== 0">
        <div *ngFor="let f of fileCache">
          <span>{{f.name}} | {{f.size/1000000}} MB</span>
          <button (click)="removeFile(f); $event.stopPropagation()">x</button>
        </div>
        <div>
          <span>Public upload: </span>
          <input type="checkbox" [(ngModel)]="isPublicUpload" />
        </div>
      </div>
      <div *ngIf="currentPicture">
        <picture-detail [inputPicture]="currentPicture" (done)="closeDetail($event)"></picture-detail>
      </div>
    </div>
    <div class="tz-gallery" *ngIf="pictures.length > 0">
      <span>My pictures</span>
      <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let pic of pictures">
          <picture [inputPicture]="pic" (click)="setCurrentPicture(pic)"></picture>
        </div>
      </div>
    </div>
    <div class="tz-gallery">
      <span>Public pictures</span>
      <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let pic of publicPictures">
          <picture [inputPicture]="pic"></picture>
        </div>
      </div>
    </div>
  </div>
</div>


