<div class="body">
  <div class="header">
    <h1>My Gallery</h1>
  </div>
  <div class="container gallery-container">
    <div class="aligncenter">
      <label class="fileContainer">
        Click here to select files to upload!
        <input type="file" id="imgInput" (change)="onImgInputChange($event)" class="input" multiple />
      </label>
      <br />
      <button (click)="upload()" class="btn btn-default">Upload</button>
    </div>
    <!--<h1>My Gallery</h1>-->
    <!--<p class="page-description text-center">Private</p>-->

    <div class="tz-gallery">
      <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let picture of pictures">
            <picture [uri] ="picture.uri"></picture>
        </div>
      </div>
    </div>
  </div>
</div>


