<div>
  <div class="share">
    <span>Share: </span>
    <share-button [theme]='modern-dark' [button]="socialProvider" [url]="inputPicture.uri"></share-button>
  </div>
  <div class="public">
    <span>Public: </span>
    <input type="checkbox" [(ngModel)]="inputPicture.isPublic" (change)="onAnyPropChange('isPublic')" />
  </div>
  <div class="tag">
    <ul class="list-group">
      <li class="list-group-item list-group-item-warning" *ngFor="let tag of inputPicture.tags">{{tag}}</li>
    </ul>
  </div>
  <button class="btn btn-primary" [(disabled)]="!hasChange" (click)="updatePicture()">Update picture</button>
  <button class="btn btn-danger" (click)="deletePicture()">Delete picture</button>
  <button class="btn btn-primary" (click)="emitComplete()">OK</button>
</div>

